ul.sub-menu{
    font-size: 0.8rem;
    margin-top: -0.2em;
    margin-bottom: 0.6em;
}
.post-metadata{
    font-size: 0.8rem;
    margin: 0.4em 0;
    dt {
        font-weight: unset;
    }
}
.post-description {
    margin-bottom: 0em;
}
.read-more-link{
    margin-bottom: 0.5em;
}